pipeline/PL_CopyLatestFiles_SalesView.json
{
	"name": "PL_CopyLatestFiles_SalesView",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata_SourceFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Source_SalesView",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "@pipeline().parameters.sourceContainer",
							"folderName": "@pipeline().parameters.folderName",
							"fileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_LatestFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadata_SourceFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_SourceFolder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(1,1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_CopyFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_LatestFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_LatestFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_ToBronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Source_SalesView",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "@pipeline().parameters.sourceContainer",
										"folderName": "@pipeline().parameters.folderName",
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Bronze_SalesView",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "bronze",
										"folderPath": "@concat('sales_view/', pipeline().parameters.folderName)",
										"fileName": "@item().name"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sourceContainer": {
				"type": "string",
				"defaultValue": "sales-view-devtst"
			},
			"folderName": {
				"type": "string",
				"defaultValue": "customer"
			},
			"triggerDate": {
				"type": "string"
			}
		},
		"annotations": []
	}
}